@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

//colors
$main: #262626;
$yellow: #FFEA00;

// font
$kashua: 'Kaushan Script', cursive;
$fredoka: 'Fredoka One', cursive;
$rubik: 'Rubik', sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $rubik;
    color: #fff;
}

body {
    background-color: $main;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

html {
    position: relative;
    overflow: hidden;
    background-color: $main;
}

//landing page
.landing {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 4rem 0 0 0;
}

.landing-header {
    padding: 0 4rem;
    margin-bottom: 4rem;
}

.landing-header h1 {
    font-family: $kashua;
    color: $yellow;
    font-size: 4.5rem
}

.landing-header h2 {
    font-family: $fredoka;
    color: rgba(255, 255, 255, 0.26);
    font-size: 1.2rem;
    letter-spacing: 3px;
}

.landing-nav {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
}

.landing-nav a {
    align-self: flex-start;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: $fredoka;
    position: relative;
    transition: 1s;
    &::before {
        content: "";
        position: absolute;
        height: 0%;
        width: 2px;
        background: $yellow;
        border-radius: 4rem;
        left: 0;
        transition: 0.5s;
        bottom: 50%;
    }
    &:hover::before {
        height: 100%;
        bottom: 0;
    }
    &:hover:hover {
        padding: 0 0 0 1rem;
    }
}

.landing-nav > a:not(:last-child) {
    margin-bottom: 1rem;
}

.landing-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem;
    position: absolute;
    width: 100%;
    bottom: 100px;
}

.landing-contact div > *:first-child{
    font-size: 0.8rem;
    color: $yellow;
}

.landing-contact div > p:nth-of-type(2) {
    font-size: 1rem;
}

.landing-contact div p > span {
    color: rgba(255, 255, 255, 0.26);
}

hr {
    border: none;
    border-top: dashed 1px rgba(255, 255, 255, 0.274);
    width: 96%;
    position: absolute;
    right: 2%;
    top: 0;
}

.landing-footer {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2%;
}

.landing-img {
    position: absolute;
    top: 10%;
    right: 12%;
    z-index: 0;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.226);
    border-radius: 100%;
}

.landing-img img {
    width: 400px;
    height: auto;
    border-radius: 100%;
    transition: 1s;
}

//about page
.about {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h1 {
    font-family: $kashua;
    color: rgba(255, 255, 255, 0.1);
    letter-spacing: 0.25rem;
    font-size: 8.75rem;
    position: absolute;
    width: 800px;
    text-align: center;
    left: 50%;
    margin-left: -400px;
    top: 2%;
}

.about p:first-of-type {
    font-size: 1.6rem;
}

.about p span {
    font-weight: bold;
}

.about-info {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    bottom: 100px;
    padding: 0 4rem;
    justify-content: space-between;
}

.about-info > div {
    width: 200px;
}

.about-info div > p:first-child {
    color: yellow;
    font-size: 0.8rem;
}

.about-info div > p:last-child {
    font-size: 1rem;
}

//project page
.project-open {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project h1 {
    color: rgba(255, 255, 255, 0.26);
    font-family: $kashua;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

.project-open h1 {
    color: $yellow;
    font-family: $kashua;
    font-size: 6rem;
    z-index: 1;
    animation: swerveRight 1s forwards 1s;
}

.project-left {
    position: absolute;
    background: $main;
    width: 50vw;
    height: 100vh;
    left: 0;
    top: 0;
    border-right: dashed 1px #fff;
    animation: swerveLeft 1s forwards 1s;
}

.project-right {
    position: absolute;
    background: $main;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
    border-left: dashed 1px #fff;
    animation: swerveRight 0.5s forwards 1s;
}

.project-grid {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    justify-content: space-between;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
    }
}

.project-card {
    background: black;
    height: 200px;
    border-radius: 1rem;
    width: 400px;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        transform: scale(1.2);
    }
}

.project-card:hover > .project-card_overlay {
    transform: translateX(100%);
}

.project-card_overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card_overlay p {
    font-family: $rubik;
    font-size: 1.6rem;
    color: #fff;
}

//specific project
.project-target h1 {
    font-family: $kashua;
    color: rgba(255, 255, 255, 0.26);
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 8%;
}

.project-target {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.project-target_info {
    display: flex;
}

.project-target_info img {
    height: 320px;
    width: auto;
    margin-right: 4rem;
    transition: 1s;
    &:hover {
        transform: scale(1.1) rotate(1deg)
    }
}

.project-target_desc {
    width: 500px;
}

.project-target_desc > p:first-of-type{
    margin-bottom: 2rem;
    line-height: 1.6rem;
}

.project-target_control > p:first-child {
    color: yellow;
    font-size: 0.8rem;
}

.project-target_desc > .project-target_control:not(:last-child) {
    margin-bottom: 1rem;
}

//contact page
.contact-page {
    height: 94vh;
}

.contact-page h1 {
    font-family: $kashua;
    color: rgba(255, 255, 255, 0.26);
    font-size: 5rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.contact-page_desc {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control:not(:last-child) {
    margin-bottom: 1rem;
}

form {
    width: 500px;
    margin: 0 auto;
}

button {
    color: #262626;
}

textarea {
    color: #fff;
    background: #2e2e2e;
    border: none;
    border-bottom: 1px solid $yellow;
    padding: 0.25rem;
    border-radius: 0.1rem;
}

input {
    color: #fff;
    background: #2e2e2e;
    border: none;
    border-bottom: 1px solid $yellow;
    padding: 0.25rem;
    border-radius: 0.1rem;
}

button {
    background: rgba(255, 255, 255, 0.26);
    color: white;
    border: none;
    align-self: center;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    &:hover {
        background: $yellow;
        color: $main;
    }
}

label {
    margin-bottom: 0.4rem;
}

.error-border {
    animation: error 0.25s infinite;
}

.sent-box {
    margin: 4rem 0 0; 
    p {
        font-size: 1.2rem;
        text-align: center;
    }
}

//404 page
.notfound {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notfound div h1 {
    color: $yellow;
    margin-bottom: 1rem;
}

.notfound div p {
    text-align: center;
    font-size: 1.2rem;
}

.project-404 {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.project-404 div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-404 div h1 {
    color: $yellow;
    font-size: 3rem;
}

.project-404 div a {
    font-size: 1.2rem;
}

//footer
.footer {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.right-nav {
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    &:hover > img {
        animation: moveRight 0.5s infinite;
    }
    img {
        margin-left: 1rem;
    }
}

.left-nav {
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    &:hover > img {
        animation: moveLeft 0.5s infinite;
    }
    img {
        margin-right: 1rem;
        transform: scaleX(-1);
    }
}

//animations
@keyframes moveLeft {
    0% {
        transform: translateX(0) scaleX(-1);
    }
    50% {   
        transform: translateX(0.2rem) scaleX(-1);
    }
    100% {
        transform: translateX(0) scaleX(-1);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-0.2rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes swerveLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }
}

@keyframes swerveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

@keyframes error {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0 0 3px 1px red;
    }
}

@media only screen and (max-width:1366px) {
    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
}

//mobile query
@media only screen and (max-width:768px) {
    //landing
    .landing-img {
        display: none;
    }

    .landing-contact {
        flex-direction: column;
    }

    .landing-contact > *:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    //about page
    .about h1 {
        font-size: 5rem;
        top: 14%
    }

    .about p:first-of-type {
        font-size: 1.2rem;
        width: 80vw;
    }

    .about-info {
        flex-direction: column;
    }

    .about-info > *:not(:last-child) {
        margin-bottom: 1rem;
    }
    
    //project
    .project-grid {
        padding: 4rem 2rem;
        grid-template-columns: 1fr;
        height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .project-card {
        width: 300px;
    }

    .project {
        height: 95.7vh;
    }

    //project target m

    .project-target h1 {
        font-size: 3rem;
    }

    .project-target_info {
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
    }

    .project-target_info img {
        height: 180px;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .project-target_desc {
        width: 100%;
        padding: 0 1rem;
    }

    //contact mobile
    .contact-page {
        height: 91.3vh;
    }
    
    .contact-page h1 {
        font-size: 3rem;
    }

    form {
        width: 300px;
    }

    .hide-M {
        display: none;
    }

    //footer 
    .footer {
        padding: 0 1rem;
    }

    .landing-footer {
        padding: 0 1rem;
    }
}